.layoutLogo {
  width: 160px;
  height: 31px;
  /* background: rgba(255, 255, 255, .2); */
  margin: 0px 0px 0px 32px;
  float: left;
}

.logout {
  width: 160px;
  height: 31px;
  /* background: rgba(255, 255, 255, .2); */
  margin: 0px 0px 0px 32px;
  float: right;
}